<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ReplyMapper">

<!-- <sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item="type" collection="typeArr">
				<trim prefix="OR">
				<choose>
					<when test="type =='T'.toString()">
					name like CONCAT('%',#{keyword},'%')
					</when>
					<when test="type == 'C'.toString()">
					address like CONCAT('%',#{keyword},'%')
					</when>
					<when test="type =='W'.toString()">
					age like CONCAT('%',#{keyword},'%')
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql> -->

	<insert id="insert">
		insert into tbl_reply (bno, reply, replyer)
		values (#{bno}, #{reply}, #{replyer})
	</insert>

	<select id="read" resultType="com.yi.domain.ReplyVO">
		select * from tbl_reply where rno = #{rno}
	</select>
	
	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<update id="update">
		update tbl_reply set reply = #{reply}, replyer = #{replyer}, updatedate = now()
		where rno = #{rno}
	</update>
	
	 	<select id="getListWithPaging" 	resultType="com.yi.domain.ReplyVO">
		select rno, bno, reply, replyer, replyDate, updateDate
		from tbl_reply
		where bno = #{bno}
		order by rno asc
		LIMIT #{cri.currentPageNo}, #{cri.recordsPerPage}
	</select>
	
	<!-- <select id="getListWithPaging" resultType="com.yi.domain.ReplyVO">
			<![CDATA[
		SELECT * FROM tbl_reply
		WHERE 
		]]>
		<include refid="criteria"></include>
		
		<![CDATA[
		
		bno > 0
		ORDER BY rno DESC
		LIMIT #{startPage}, #{recordsPerPage}
		]]>
	</select> -->
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
		select count(rno) from tbl_reply where bno = #{bno}
		]]>
	</select>
</mapper>
